@media screen and (max-width: 768px) {
    .input-container {
        display: flex;
        justify-content: space-between;
    }

    .list-container {
        display: block;
    }

    .list-buttons {
        display: block;
        margin-top: 0;
    }

    .list {
        padding: 2px 5px;
    }
}